jds-colors {
  --primary-brand-blue: #09f;
  --primary-brand-dark: #0a1551;
  --primary-brand-yellow: #ffb629;
  --primary-brand-orange: #ff6100;
  --primary-border-medium: #c8ceed;
  --primary-text-darkest: #0a1551;
  --primary-text-medium: #6c73a8;
  --product-analytics-light: #b9bedf;
  --standard-background-darkest: #0a1551;
  --standard-text-medium: #6f76a7;
  --product-analytics-default: #8f96cc;
  --product-analytics-dark: #737cbf;
  --product-approvals-light: #008f75;
  --product-approvals-default: #007862;
  --product-approvals-dark: #006653;
  --product-apps-light: #bf78f0;
  --product-apps-default: #9c4dd3;
  --product-apps-dark: #892dca;
  --product-forms-light: #ff7b1c;
  --product-forms-default: #ff6100;
  --product-forms-dark: #e55300;
  --product-inbox-light: #59bed2;
  --product-inbox-default: #249bb4;
  --product-inbox-dark: #1989a0;
  --product-pages-light: #5887bf;
  --product-pages-default: #034f96;
  --product-pages-dark: #03294c;
  --product-pdf-light: #628eff;
  --product-pdf-default: #3e62c8;
  --product-pdf-dark: #2f4ead;
  --product-reports-light: #728ddd;
  --product-reports-default: #5369ab;
  --product-reports-dark: #344067;
  --product-sign-light: #94cd2a;
  --product-sign-default: #7bb60f;
  --product-sign-dark: #6da900;
  --product-tables-light: #37c768;
  --product-tables-default: #049e38;
  --product-tables-dark: #007b2a;
  --product-teams-light: #303c77;
  --product-teams-default: #18235c;
  --product-teams-dark: #0c1540;
  --secondary-text-white: #fff;
  --secondary-text-lightest: #b5bcc5;
  --secondary-text-light: #949fae;
  --secondary-text-medium: #6b7584;
  --secondary-text-dark: #4a5361;
  --secondary-text-darkest: #2f333a;
  --secondary-background-white: #fff;
  --secondary-background-lightest: #545f6f;
  --secondary-background-light: #4a5361;
  --secondary-background-medium: #3e4652;
  --secondary-background-dark: #2f333a;
  --secondary-background-darkest: #23262c;
  --secondary-border-light: #949fae;
  --secondary-border-medium: #4a5361;
  --secondary-border-dark: #2f333a;
  --primary-brand-white: #fff;
  --primary-text-white: #fff;
  --primary-text-lightest: #e3e5f5;
  --primary-text-light: #c8ceed;
  --primary-text-dark: #343c6a;
  --primary-background-white: #fff;
  --primary-background-lightest: #f3f3fe;
  --primary-background-light: #dadef3;
  --primary-background-medium: #c8ceed;
  --primary-background-dark: #6c73a8;
  --primary-background-darkest: #0a1551;
  --primary-border-light: #e3e5f5;
  --primary-border-dark: #343c6a;
  --primary-border-darkest: #0a1551;
  --primary-accent-lightest: #edf8ff;
  --primary-accent-light: #4dbefc;
  --primary-accent-default: #0075e3;
  --primary-accent-dark: #0066c3;
  --primary-success-lightest: #edfed1;
  --primary-success-light: #cbfb7b;
  --primary-success-default: #64b200;
  --primary-success-dark: #529300;
  --primary-error-lightest: #fef2f2;
  --primary-error-light: #fecaca;
  --primary-error-default: #dc2626;
  --primary-error-dark: #ab0101;
  --core-white: #fff;
  --core-black: #000;
  --core-blue-100: #edf8ff;
  --core-blue-200: #77cfff;
  --core-blue-300: #4dbefc;
  --core-blue-400: #09f;
  --core-blue-500: #0075e3;
  --core-blue-600: #0066c3;
  --core-green-100: #edfed1;
  --core-green-200: #cbfb7b;
  --core-green-300: #a8eb38;
  --core-green-400: #7fca00;
  --core-green-500: #64b200;
  --core-green-600: #529300;
  --core-yellow-100: #fff5d2;
  --core-yellow-200: #ffdc7b;
  --core-yellow-300: #ffc42c;
}